.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
data.json
tgt
.vscode
# Local History for Visual Studio Code
.history/

# Byte-compiled / optimized / DLL files
*.py[cod]
*__pycache__/
